@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: minecraft;
    src: url('./assets/Minecraftia-Regular.ttf');
}
.font-minecraft {
    font-family: minecraft;
}

html {
    scroll-behavior: smooth;
}
.bgc-bl {
    background-color: #1C1C1C;
}
.text-w {
    color: #F5F5F5;
}

div {
    font-family: minecraft;
    color: #F5F5F5;
}

p {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    color: #d33b2b;
}