@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: minecraft;
    src: url('./assets/Minecraftia-Regular.ttf');
}
.font-minecraft {
    font-family: minecraft;
}

.font-minecraftt {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    scroll-behavior: smooth;
    background-color: #0E0E0E;
}
.bgc-bl {
    background-color: #0E0E0E;
}
.text-w {
    color: #F5F5F5;
}

.color-r {
    color: #e57361;
}

